footer.footer#footer 
    .container 
        .row.align-items-center
            .col-md-3.col-xs-12
                p.footer-description
                    img(src="/images/newyearlogo.gif" alt="Uzmovi.com")
            .col-md-6.col-xs-12
                ul.nav-footer.d-flex.align-items-center
                    li
                        a(href='http://uzmovi.com/index.php?do=feedback' title='Обратная связь') &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
                    li
                        a(href='http://uzmovi.com/rightholder.html' title='Rightholder') &Pcy;&rcy;&acy;&vcy;&ocy;&ocy;&bcy;&lcy;&acy;&dcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy;
                    li
                        a(href='http://uzmovi.com/rightholder_eng.html' title='Rightholder') DMCA
                    li
                        a(href='/index.php?do=rules' title='правила') Qoida
                    li
                        a(href='http://uzmovi.com/ads.html' title='Реклама') &Rcy;&iecy;&kcy;&lcy;&acy;&mcy;&acy;
    .copyRight 
        .container.text-center
            p.copirating
                | &copy;
                b  UZMOVi.com
                |  &mdash; 2019 - 2021
            p
                | &Pcy;&rcy;&acy;&vcy;&acy; &ncy;&acy; &fcy;&icy;&lcy;&softcy;&mcy;&ycy; &pcy;&rcy;&icy;&ncy;&acy;&dcy;&lcy;&iecy;&zhcy;&acy;&tcy; &icy;&khcy; &acy;&vcy;&tcy;&ocy;&rcy;&acy;&mcy;. &Vcy;&scy;&iecy; &fcy;&icy;&lcy;&softcy;&mcy;&ycy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&ycy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &dcy;&lcy;&yacy; &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&lcy;&iecy;&ncy;&icy;&yacy;.
            p
                | &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &ncy;&iecy; &ncy;&iecy;&scy;&iecy;&tcy; &ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy; &zcy;&acy; &rcy;&acy;&zcy;&mcy;&iecy;&shchcy;&iecy;&ncy;&ncy;&ycy;&iecy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy;&icy; &ncy;&iecy;&lcy;&iecy;&gcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;! &Lcy;&yucy;&bcy;&ocy;&jcy; &fcy;&icy;&lcy;&softcy;&mcy; 
                a(href='http://uzmovi.com/rightholder.html') &bcy;&ucy;&dcy;&iecy;&tcy; &ucy;&dcy;&acy;&lcy;&iecy;&ncy;
                |  &pcy;&ocy; &tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yucy; &pcy;&rcy;&acy;&vcy;&ocy;&ocy;&bcy;&lcy;&acy;&dcy;&acy;&tcy;&iecy;&lcy;&yacy;

