ul.lightRooms
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li 
    li
    li 
    li 
    li 
    li 
#header 
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark
        .container
            a.navbar-brand(href='/') 
                img(src="/images/newyearlogo.gif" alt="Uzmovi.com")
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/') Bosh Sahifa
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle.tree(href='/kinolar' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav1
                            | Kinolar
                            span.caret
                        ul.dropdown-menu.open(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='#') Tarjima Kinolar
                            li
                                a.dropdown-item(href='#') Premyeralar
                            li
                                a.dropdown-item(href='/xSearch/marvel') Marvel Kinolari
                            li
                                a.dropdown-item(href='#') DC Kinolari
                            li
                                a.dropdown-item(href='#') X-Men Kinolar
                            li
                                a.dropdown-item(href='#') O'zbek Kinolari
                            li
                                a.dropdown-item(href='#') Hind Kinolari
                            li
                                a.dropdown-item(href='#') Multfilm
                    li.nav-item
                        a.nav-link(aria-current='page' href='/serial').nav2 Seriallar 
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle.tree(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav1
                            | Janr
                            span.caret   
                        ul.dropdown-menu.drop2(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='#') Jangari
                            li
                                a.dropdown-item(href='#') Drama
                            li
                                a.dropdown-item(href='#') Komediya
                            li
                                a.dropdown-item(href='#') Melodramma
                            li
                                a.dropdown-item(href='#') Sarguzasht
                            li
                                a.dropdown-item(href='#') Qo'rqinchli
                            li
                                a.dropdown-item(href='#') Tarixiy
                            li
                                a.dropdown-item(href='#') Klassika
                            li
                                a.dropdown-item(href='#') Fantastika
                            li
                                a.dropdown-item(href='#') Hayotiy
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle.tree(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav2
                            | Yil
                            span.caret   
                        ul.dropdown-menu.drop3(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href='#') 2021
                            li
                                a.dropdown-item(href='#') 2020
                            li
                                a.dropdown-item(href='#') 2019
                            li
                                a.dropdown-item(href='#') 2019
                            li
                                a.dropdown-item(href='#') 2018
                            li
                                a.dropdown-item(href='#') 2017
                            li
                                a.dropdown-item(href='#') 2016
                            li
                                a.dropdown-item(href='#') 2015
                            li
                                a.dropdown-item(href='#') 2014
                            li
                                a.dropdown-item(href='#') 2013
                            li
                                a.dropdown-item(href='#') 2012
                            li
                                a.dropdown-item(href='#') 2011
                            li
                                a.dropdown-item(href='#') 2010
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/konsert') Konsert
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/treyler') Treyler
    .user-bar
        .container 
            #info-bar.info-bar
                a(style='display:block;cursor: pointer; font-size:16px;font-weight:500;text-align:center;border-radius:8px;padding:5px;background:#389ce9;text-decoration:none;color:#fff;' href='https://t.me/+set-6VITSihlNGUy' target='_blank').mb-30
                    svg(style='width:30px;height:20px;vertical-align:middle;margin:0px 5px;' viewbox='0 0 21 18')
                        g(fill='none')
                            path(fill='#ffffff' d='M0.554,7.092 L19.117,0.078 C19.737,-0.156 20.429,0.156 20.663,0.776 C20.745,0.994 20.763,1.23 20.713,1.457 L17.513,16.059 C17.351,16.799 16.62,17.268 15.88,17.105 C15.696,17.065 15.523,16.987 15.37,16.877 L8.997,12.271 C8.614,11.994 8.527,11.458 8.805,11.074 C8.835,11.033 8.869,10.994 8.905,10.958 L15.458,4.661 C15.594,4.53 15.598,4.313 15.467,4.176 C15.354,4.059 15.174,4.037 15.036,4.125 L6.104,9.795 C5.575,10.131 4.922,10.207 4.329,10.002 L0.577,8.704 C0.13,8.55 -0.107,8.061 0.047,7.614 C0.131,7.374 0.316,7.182 0.554,7.092 Z')
                    | Bizga Telegramda qo&apos;shiling!
                .d-flex
                    .infobar-header#infobar-header
                        form(action="/search")
                            .mb-3
                                input(type="text" placeholder="Film izlash" name="search").form-control
                                button(name="submit" type="submit").btn.btn-primary Search
                    .infobar-collapse
                        ul.d-flex
                            li.nav-item 
                                a(href="#!").nav-link
                                    i.fas.fa-film
                                    span Premyera!
                            li.nav-item 
                                a(href="#!").nav-link
                                    i.far.fa-envelope
                                    span Aloqa!
                            li.nav-item 
                                a(href="#!").nav-link
                                    i.far.fa-chart-bar
                                    span Statistika! 
                            li.nav-item 
                                a(href="#!").nav-link
                                    i.fas.fa-exclamation-circle
                                    span Qoidalar! 