extends layout
block content 
    .owl-box.row
        .col-md-9.col-xs-12
            .row
                .col-xs-12
                    .slides.owl-blue 
                        h3.pageMenu.pageOne TARJIMA KINOLAR     
                        .owl-carousel.owl-theme.box-one
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                        .owl-nav.one
                            button
                                span.owl-left
                                    i.fal.fa-chevron-left
                            button
                                span.owl-right
                                    i.fal.fa-chevron-right
                    .slides.owl-orange 
                        h3.pageMenu.pageTwo O'zbek kinolar
                        .owl-carousel.owl-theme.box-one
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                        .owl-nav.one
                            button
                                span.owl-left
                                    i.fal.fa-chevron-left
                            button
                                span.owl-right
                                    i.fal.fa-chevron-right
                    .slides.owl-green.one 
                        h3.pageMenu.pageThree= page5  
                        .owl-carousel.owl-theme.box-one
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                        .owl-nav.one
                            button
                                span.owl-left
                                    i.fal.fa-chevron-left
                            button
                                span.owl-right
                                    i.fal.fa-chevron-right
                    .slides.owl-green.two 
                        h3.pageMenu.pageThree Seriallar
                        .owl-carousel.owl-theme.box-one
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                            .item 
                                .short-images 
                                    img(src="/images/new.gif" alt="").new
                                    a(href="/").short-images-link
                                        img(src="/images/kinolar/film.jpg" alt="")
                                    span.film-year 
                                        a(href="/") 2019
                                    .film-text 
                                        h4 Maskarad
                        .owl-nav.one
                            button
                                span.owl-left
                                    i.fal.fa-chevron-left
                            button
                                span.owl-right
                                    i.fal.fa-chevron-right
                    .row.height
                        .owl-treyler-clone.owl-sm-6.col-xs-12.w-50
                            h3.pageMenu.pageThree  Multifilmlar
                            .owl-carousel.treyler-clone.d-flex
                                .item
                                    .owl-images 
                                        a(href="/").short-images-link
                                            img(src="/images/kinolar/film.jpg" alt="")
                                    .short-content 
                                        h4
                                            a(href="/" title="Maskarad") Maskarad
                                .item
                                    .owl-images 
                                        a(href="/").short-images-link
                                            img(src="/images/kinolar/film.jpg" alt="")
                                    .short-content 
                                        h4
                                            a(href="/" title="Maskarad") Maskarad
                            .owl-nav.one
                                button
                                    span.owl-left
                                        i.fal.fa-chevron-left
                                button
                                    span.owl-right
                                        i.fal.fa-chevron-right
                        .col-sm-6.col-xs-12
                            .owl-yellow.owl-cat 
                                h2.h-owl.pageTwo.pageMenu Tez kunda bizda
                                ul.short-news.d-flex.flex-column
                                    li
                                        a(href="/").d-flex.align-items-center
                                            .short-news-images 
                                                img(src="/images/kinolar/film1.jpg", title="kinolar" alt="")
                                            .short-news-title kinolar
                                            .short-news-i 
                                                i.fal.fa-chevron-right
                                    li
                                        a(href="/").d-flex.align-items-center
                                            .short-news-images 
                                                img(src="/images/kinolar/film1.jpg", title="kinolar" alt="")
                                            .short-news-title kinolar
                                            .short-news-i 
                                                i.fal.fa-chevron-right
                                    li
                                        a(href="/").d-flex.align-items-center
                                            .short-news-images 
                                                img(src="/images/kinolar/film1.jpg", title="kinolar" alt="")
                                            .short-news-title kinolar
                                            .short-news-i 
                                                i.fal.fa-chevron-right
                                    li
                                        a(href="/").d-flex.align-items-center
                                            .short-news-images 
                                                img(src="/images/kinolar/film1.jpg", title="kinolar" alt="")
                                            .short-news-title kinolar
                                            .short-news-i 
                                                i.fal.fa-chevron-right


        .right-bar.col-md-3.col-xs-12 
            h3.pageMenu= page2
            .links
                a(href="/").nav-link
                    i.fab.fa-telegram-plane
                a(href="/").nav-link
                    i.fab.fa-youtube
                a(href="/").nav-link
                    i.fab.fa-instagram
                a(href="/").nav-link
                    i.fab.fa-twitter
            .owl-boxTwo.margin-b20
                h6.pageMenu.pageOne= page3
                .owl-random.owl-carousel
                    .item
                        img(src="/images/kinolar/film1.jpg" alt="")
                        h4 
                            a(href="/") Isyonkor 
                        small.year-right 2021
                        small.tas-ix tas-ix
                    .item
                        img(src="/images/kinolar/film1.jpg" alt="").hoverClass
                    .item
                        img(src="/images/kinolar/film1.jpg" alt="").hoverClass
                    .item
                        img(src="/images/kinolar/film1.jpg" alt="").hoverClass
                    .item
                        img(src="/images/kinolar/film1.jpg" alt="").hoverClass
            #accordionExample.accordion
                .accordion-item
                    h2#headingOne.accordion-header
                        button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                            i.far.fa-video
                            | Filmlar
                    #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                        button.w-100.btn.btn-treyler Barchasi Ko'rish
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
                .accordion-item
                    h2#headingTwo.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                            i.fal.fa-thumbs-up
                            | Reytingi yuqori
                    #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                        button.w-100.btn.btn-treyler Barchasi Ko'rish
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
                .accordion-item
                    h2#headingThree.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                            i.fal.fa-eye
                            | Ko'p ko'rilgan
                    #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                        button.w-100.btn.btn-treyler Barchasi Ko'rish
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
                        .accordion-body
                            .story-list-img 
                                a(href="/") 
                                    img(src="/images/kinolar/film3.jpg" title="Uzbek tilida" alt="")
                            .story-list-content 
                                h4.story-list-title 
                                    a(href="/")  o'g'rilar ovchisi o'g'rilar izidan 
                                p.story-list-text 
                                    a(href="/") tarjima
                                    a(href="/") jangari
                                .info-text 
                                    ul.d-flex.align-center
                                        li.reyting-plus 
                                            a(href="") 
                                                i.fal.fa-thumbs-up
                                        li
                                            span#reyting-layer
                                                span.typePlusMinus +10
                                        li.reyting-minus
                                            a(href="") 
                                                i.fal.fa-thumbs-down
